<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>product page</title>
    <link rel="stylesheet" type="text/css" href="product/product.css" />
  </head>

  <body>
    <div class="container">
      <header data-include="/Header_login.html">
      </header>

      <!-- body -->
      <h1>상품 정보</h1>

      <hr />
      <div id="mypage_div">
        <form method="post" action="/product">
          <table class="mypage_table">
            <tr>
              <td><label>상품이미지 : </label></td>
              <img src="<%= image %>" name="image" alt="상품이미지" class="label_name"></img>
            </tr>
            <tr>
              <td><label>상품제목 : </label></td>
              <td name="title" class="label_name"><%= title %></td>
            </tr>
            <tr>
              <td><label>상세내용 : </label></td>
              <td name="content" class="label_name"><%= content %></td>
            </tr>
            <tr>
              <td><label>기간 : </label></td>
              <td name="start" class="label_name"><%= start %></td>
              <td name="end" class="label_name"><%= end %></td>
            </tr>
            <tr>
              <td><label>목표금액</label></td>
              <td name="money" class="label_name"><%= money %></td>
            </tr>
            <tr>
              <td><label>상품이름</label></td>
              <td name="name" class="label_name"><%= name %></td>
            </tr>
            <tr>
              <td><label>수량</label></td>
              <td name="count" class="label_name"><%= count %></td>
            </tr>
            <tr>
              <td><label>가격</label></td>
              <td name="price" class="label_name"><%= price %></td>
            </tr>
            <tr>
              <td><label>상품 id</label></td>
              <td name="number" class="label_name"><%= number %></td>
            </tr>
            <tr>
              <td><label>얼리 일반 유무</label></td>
              <td name="ealry" class="label_name"><%= ealry %></td>
              <td name="sale" class="label_name"><%= sale %></td>
            </tr>
            <tr>
              <td><label>상세이미지</label></td>
              <img src="<%= detailImage %>" name="detailImage" alt="상세이미지" class="label_name"></img>
            </tr>
            <td colspan="2" id="bt">
              <button type="" value="">수정하기</button>
            </td>
          </table>
        </form>
      </div>

      <footer data-include="/Footer.html" class="footer">
      </footer>
    </div>
    <script type="text/javascript" src="jquery-3.6.0.js"></script>
    <script src="/H_F.js"></script>
  </body>
</html>
